
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
     
    </style>
  </head>

  <body>
   <p>A new item: <b><%= @match.title%></b> in your watch list has been posted recently!</p>
   <p>Please check SellBackMart.</p>
   <p>Thanks and have a great day!</p>
   <p>Your SBM team</p>
    <%= yield %>
  </body>
</html>
