<% provide(:title, 'Olso Homepage')%>
<main role="main" class="container">
  
  <div class="starter-template">
    <h1>Welcome to Olso homepage!</h1>
    <p class="lead"> Olso is the best!<br> </p>
    
    <h5> Felipe de Oliveira </h5>
    
        
   

    <h5> Rain Sun </h5>

      
      

  
    <h5> Andrew Edmiston </h5>
      
        
      
  </div>

</main><!-- /.container -->
