body {
    padding : 60px ;
    
  }
table {
    
    table-layout: fixed;
    width: 200px;
}
  
th,
td {
    
    width: 100px;
    overflow: hidden;
}

#left    {
    width: 350px;
    height: 400px;
    background: #ffffff;
    float: left;
}

#right {
    width: 600px;
    background: #ffffff;
    height: 400px;
    margin-left: 400px;
}
#button {
    padding : 20px ;
    text-align: center;
}

  
  