<% provide(:title,'SellBackMart - New Review') %>

<main role ="main" class ="container">

<h1>New Review </h1>

  <%= render 'form', user_id: @user.id, item_id: @item.id, review:@review %>

  <p>
    <%= link_to 'Back',catalog_path %>
  </p>
</main><!-- /.container -->